# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../../../:\Users\Mike\OneDrive\Desktop\CyberTech\Client\app\src\main\java\it\unive\cybertech\assistenza\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
