<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.unive.cybertech">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:appCategory="audio"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cybertech">
        <meta-data
            android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc" />

        <activity
            android:name=".groups.GroupDetails"
            android:exported="false" />
        <activity
            android:name=".groups.CreateGroup"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".signup.SignUpActivity"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".signup.LogInActivity"
            android:exported="false" />
        <activity
            android:name=".noleggio.RentFeedback"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:noHistory="true"
            android:theme="@style/Theme.Cybertech.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".noleggio.ProductDetails"
            android:exported="true" />
        <activity
            android:name=".noleggio.AddProductForRent"
            android:exported="true" />
        <activity
            android:name=".gestione_covid.ReportPositivityActivity"
            android:exported="false"
            android:theme="@style/Theme.Cybertech.NoActionBar" />
        <activity
            android:name=".assistenza.MyRequests"
            android:exported="false"
            android:theme="@style/Theme.Cybertech.NoActionBar" />
        <activity
            android:name=".assistenza.RequestDetails"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.Cybertech.NoActionBar" />
        <activity
            android:name=".assistenza.RequestViz"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.Cybertech.NoActionBar" />
        <activity
            android:name=".assistenza.TakenRequests"
            android:exported="false"
            android:theme="@style/Theme.Cybertech.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Cybertech.NoActionBar" />

        <!--<service android:name=".gestione_covid.services.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>-->

        <service
            android:name=".messages.MessageService"
            android:exported="false"
            android:directBootAware="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
            <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more. -->
            <meta-data
                android:name="com.google.firebase.messaging.default_notification_icon"
                android:resource="@drawable/ic_baseline_people_24" />
            <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
                 notification message. See README(https://goo.gl/6BKBk7) for more. -->
            <meta-data
                android:name="com.google.firebase.messaging.default_notification_color"
                android:resource="@color/primary" />
            <meta-data
                android:name="com.google.firebase.messaging.default_notification_channel_id"
                android:value="@string/default_notification_channel_id" />
        </service>
    </application>

</manifest>